{% extends "base.html" %}

{% block content %}

  {% if user %}
  <div class="container-fluid">
    <div class="row border border-primary">
      <div class="col-12 p-3">
        <button type="button" name="button" class="btn btn-primary" id="add-task">Add task</button>
      </div>
    </div>
    <div class="row border border-primary" style="display:none;" id="task-form">
      <div class="col-12 p-3">
        <form class="" action="{% url 'add-task' %}" method="post">
          {% csrf_token %}
          <!-- Form -->
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name='title' placeholder="Enter task title" required>
          </div>
          <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <textarea class="form-control" id="desc" rows="3" name="desc" placeholder="Description here...." required></textarea>
          </div>
          <!-- End  Form -->
          <input type="submit" name="submit" value="Add" class="btn btn-primary px-4 form-btn">
        </form>

      </div>
    </div>
  {% if tasks %}
    <div class="row border justify-content-center">
      <div class="col-8 p-2">

        <!-- Accordian for task -->
        <div class="accordion" id="accordionExample">
          {% for task in tasks %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne{{ forloop.counter }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne{{ forloop.counter }}">
                {{task.Title}}
              </button>
            </h2>
            <div id="collapseOne{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="headingOne{{ forloop.counter }}" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{task.Description}}
              </div>
              <div class="mb-2">
                <span class="badge bg-danger ms-5 me-2 py-2 cursor-pointer delete-task" data-id="{{task.id}}">Delete</span>
                <!-- <span class="badge bg-info text-dark cursor-pointer py-2 edit-task" data-id="{{task.id}}">Edit</span> -->
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <!-- End accordian -->
      </div>
    </div>
  {% else %}
    <h1 class="text-center p-5">Task list in empty</h1>
  {% endif %}
  </div>
  {% else %}
  <h1>Home Page</h1>
  {% endif %}
{% endblock %}

{% block inline_javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
        $("#add-task").click(function () {
            $("#task-form").slideToggle();
        });

        // $(".edit-task").click(function () {
        //   // console.log($(this).parent().parent().prev().text().trim());
        //   // console.log($(this).parent().prev().text().trim());
        //   $('#title').val($(this).parent().parent().prev().text().trim());
        //   $('#desc').val($(this).parent().prev().text().trim());
        //   $("#task-form").slideDown();
        //   $('.form-btn').prop('value', 'Save')
        //   // console.log($('.form-btn').text());
        // });
    });
  </script>

  <script type="text/javascript">

    $(document).ready(function () {
    $(".delete-task").click(function (event) {
      let id = $(this).data("id");
      // console.log(id);
      $.ajax({
        type: "POST",
        url: "{% url 'delete-task' %}",
        data: {
          'task_id':id, // from form
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function (e) {
          // console.log(e);
          location.reload();
        }
      });
      return false; //<---- move it here
    });

  });
  </script>

  <script type="text/javascript">

  //   $(document).ready(function () {
  //   $(".edit-task").click(function (event) {
  //     let id = $(this).data("id");
  //     var title = $('#title').val();
  //     var desc = $('#desc').val();
  //     $.ajax({
  //       type: "POST",
  //       url: "{% url 'edit-task' %}",
  //       data: {
  //         'task_id':id,
  //         'title': title,
  //         'desc': desc,
  //         csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
  //       },
  //       success: function (e) {
  //         // console.log(e);
  //         location.reload();
  //       }
  //     });
  //     return false; //<---- move it here
  //   });
  //
  // });
  </script>
{% endblock inline_javascript %}
